*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html,body{
    /* background: url(/images/bg.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    overflow: hidden;
    width: 100%;
    /* padding-top: 9rem; */
}

a{
    color: #005DA6;
    text-decoration: none;
}

button{
    all: unset;
    cursor: pointer;
}

.container{
    width: 470px;
    height: 520px;
    margin: 2% auto 0;
    position: relative;
    overflow: hidden;
}

.formContainer{
    background-color: #fff;
    box-shadow: 0 0 10px #b0b0b0;
    padding: 3rem;
}

#form1, #form2, #form3, #form4{
    position: absolute;
    width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    /* overflow-x: hidden; */
}

#form1 h4, #form2 h4, #form3 h4, #form4 h4{
    font-weight: 400;
    font-size: 22px;
    margin: 20px 0;
}

input{
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    padding-bottom: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 1.7rem;
}

#form1 .formContainer input:focus,  #form4 .formContainer input:focus{
    border-bottom: 1px solid #005DA6;
}

#form1 .formContainer p, #form4 .formContainer p{
    margin-bottom: 1rem;
    display: flex;
    gap: 5px;
    color: #404040;
    font-size: 14px;
}

#form1 a, #form4 a{
    display: block;
    font-size: 14px;
}

#form1 .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 2rem;
}

#form4 .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 4rem;
}

#form1 .buttons button, #form4 .buttons button{
    padding: 7px 30px;
}

#form4 .buttons button:nth-of-type(1){
    background-color: #CCCCCC;
}

#form1 .form1-next-btn, #form4 .buttons button:nth-of-type(2){
    background-color: #005DA6;
    color: #fff;
}

#form1 .buttons button:nth-of-type(1):hover, #form4 .buttons button:nth-of-type(1):hover{
    background-color: #acacac;
}

#form1 .buttons button:nth-of-type(2):hover, #form4 .buttons button:nth-of-type(2):hover{
    background-color: #005291;
}

#form1 .sign-in-options, #form4 .sign-in-options{
    box-shadow: 0 0 10px #b0b0b0;
    background-color: #fff;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    color: #404040;
    cursor: pointer;
}

#form1 .sign-in-options:hover, #form4 .sign-in-options:hover{
    background-color: #ededed;
}

#form1 .sign-in-options i, #form4 .sign-in-options i{
    font-size: 18px;
}

#form2 .formContainer, #form3 .formContainer{
    box-shadow: none;
    padding: 0;
}

#form4 .formContainer{
    box-shadow: none;
}

#form2, #form3, #form4{
    left: 150%;
    transition: .5s;
    height: 500px;
    box-shadow: 0 0 10px #b0b0b0;
    background-color: #fff;
}















#form3{
    height: 400px;
}

#form4{
    height: 400px;
}

#form2 .options, #form3 .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    cursor: pointer;
    border: 1px dashed transparent;
    /* margin: 30px 0; */
}

#form2 .header, #form3 .header{
    padding: 3rem 3rem 0;
}

#form2 .options:hover, #form3 .options:hover{
    background-color: #CCCCCC;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

#form2 .options div:nth-child(1), #form3 .options div:nth-child(1){
    display: flex;
    gap: 10px;
}

#form2 .options div i, #form3 .options div i{
    font-size: 2rem;
}

#form2 .options div p, #form3 .options div p{
    color: #333;
}

#form2 .options div p:nth-child(2), #form3 .options div p:nth-child(2){
    font-size: 12px;
}

#form2 .sign-in-options-back-btn, #form3 .sign-in-options-back-btn{
    margin-top: 2rem;
    background-color: #CCCCCC;
    padding: 7px 30px;
    position: absolute;
    right: 30px;
}

#form2 p, #form3 p{
    font-size: 14px;
}

#form1 {
    transition: .5s;
}

#form1 .error-text, #form4 .error-text{
    margin-bottom: 0; 
    padding-bottom: 5px; 
    color: red;
    display: none;
    font-size: 13px;
}

.ri-user-line{
    font-weight: 300;
}

#form2 a, #form3 a, #form2 i, #form3 i{
    color: #404040;
}

@media screen and (max-width: 450px) {

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }

    #form1, #form2, #form3, #form4{
        width:350px
    }
}